BACKEND_CORS_ORIGINS=https://roadsense-frontend.onrender.com,http://localhost:8501,http://127.0.0.1:8501
TOMTOM_API_KEY=
REQUEST_TIMEOUT_SECONDS=15
# RAZORPAY_KEY_ID=
# RAZORPAY_KEY_SECRET=
# RAZORPAY_PRIME_PLAN_ID=
RAZORPAY_PRIME_TOTAL_COUNT=12
AUTH_TOKEN_SECRET=change_this_to_a_long_random_secret
AUTH_TOKEN_TTL_SECONDS=86400
